@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {  
  color: #000;
  background-color: #fff;
  font-family: "Montserrat", "Montserrat";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.lightMode{
  padding-right: 20px;
}

.checkbox {
  opacity: 0;
  position: absolute;

}

.label {
  
  background-color: #13143D;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 5px;
  position: relative;
  height: 20px;
  width: 48px;
  transform: scale(1.5);

}


.label .ball {
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 17px;
  width: 17px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked+.label .ball {
  transform: translateX(27px);
}


.white {
  border: 1px solid white;
}



li, a{
  font-size: 0.rem;
  color: #000;
  text-decoration: none;
  font-family: "Montserrat", "Montserrat";
  font-weight: 500;
  font-style: normal;
}

li  a:hover {
  border-bottom: solid 2px #1cfcb1;
}

.logo {
  padding-left: 10px;
  width: 5rem;
  height: 3rem;
  display: flex;
}

nav {

  display: flex;
  justify-content: center;
  min-height: 12vh;
  background-color:#fff;
  z-index: 999;
  position: fixed !important;
  width: 100%;
  max-width: 100vw;
  border-radius: 0px 0px 10px 10px;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 1px;
  margin-left: 34px;
  font-size: 12px;
}


main img {
  width: 100%;
  max-height: 100%;
}

.container-empresa {
  margin: 5em; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.desc {
  text-align: center;
  width: 100%;
}

.desc-empresa {
  text-align: center;
  justify-content: center;
  color: #000;
  width: 100%;
  font-size: 20px;
}


h4 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #000;
  font-size: 20px;
}


.timeline-container {
  min-height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
}

.timeline-container::before,
.timeline-container::after {
  content: "";
  display: table;
}

.timeline-container p {
  color: #0b0a0a;;
  font-size: 15px;
  padding-top: 10px;
  height: 60px;
}

.timeline-block {
  max-width: 300px;
  text-align: center;
  position: relative;

}

.timeline-block .iconic {
  padding-bottom: 20px;
  width: 70px;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  font-size: 35px;
  text-align: center;
  background-color: #13143D;
  
  border: 2px solid #333;
  border-radius: 50%;
  position: relative;
  transition: background-color 0.25s ease-in;
}


.timeline-block .iconic .fa {
  padding-bottom: 100px;
  color: #000;
  line-height: 70px;
  transition: color 0.25s ease-in;
  margin-bottom: 10px;
}

.timeline-block .iconic::before {
  content: "";
  border: 2px dashed #876c6c;
  border-radius: 50%;
  position: absolute;
  top: -7px;
  left: -7px;
  right: -7px;
  bottom: -7px;
}

.timeline-block .iconic::after {
  width: 1px;
  height: 30px;

  margin-left: -1px;
  content: "";
  border-left: 2px dashed #195766;
  transform: translateY(90%);
  position: absolute;
  top: 50px;
  left: 50%;
  
  z-index: -1;
}


.timeline-block:hover .iconic {
  background-color: #ffffff;
}


.timeline-block .heading {
  padding-bottom: -80px;
  position: relative;
}

.timeline-block .heading::after {
  width: 50px;
  height: 2px;
  border-radius: 5px;
  content: "";
  display: block;
  background-color: #13143D;
  margin-left: auto;
  margin-right: auto;
}



.timeline-block .text {
  padding-top: 80px;
  position: relative;
}

.timeline-block .text::before {
  width: 20px;
  height: 20px;
  display: block;
  content: "";
  background-color: #13143D;
  border-radius: 50%;
  transform: translateY(60%) translateX(-50%);
  position: absolute;
  top: 30px;
  left: 50%;
}


.container-projetos {
  width: 100%;
  max-width: 100vw;
  margin-top: 5rem;
  min-height: 92vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #13143D;
  border-radius: 30px;
}

.titulo {
  width: 100%;
  text-align: center;
  margin-top: 10%;
}

.projeto{
  color: #fff;
  font-size: 2.5rem;
}


.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 2em;

}

.cardsProjetos {

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  border-radius: 10px;
}

.card {
  box-sizing: border-box;
  width: 190px;
  height: 254px;
  background-color: #fff;
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
color: #000000;
}

.card:hover {
  border: 2px solid #1cfcb1;
  transform: scale(1.05);
}

.card:active {
  transform: scale(0.95) rotateZ(1.7deg);
}

.devs {
  height: 92vh;
  width: 100%;
  background-color: #fff;
  background-image: url(../imagens/fundo_empre.png);
}

.container-devs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  padding: 0 10vh;
  width: 100%;
  position: relative;
  height: 65vh;
}

.container-devs>div:first-child {
  z-index: 2;
}

.container-devs h1 {
  margin-bottom: 2rem;
  font-size: 2.5rem;
}

.container-devs p {
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.cargos {
  margin-bottom: 10px;
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
}

.container-devs .swiper {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 2rem 0;
}

.container-devs .swiper-slide {
  background-color: #13143D;
  
  border-radius: 50px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

hr {
  margin-right: 10px;
  width: 450px;
  height: 7px;
  margin-bottom: 10px;
  
  color: #13143D;
}


.container-devs .swiper-slide h2 {
  margin-bottom: 1rem;
  font-size: 1.75rem;
}

.container-devs .swiper-slide p {
  margin-bottom: 1rem;
  font-size: 15px;
  color: #ffffff;
  text-align: center;
}

.container-devs .swiper-pagination {
  position: absolute;
  bottom: 1rem;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-devs .swiper-pagination-bullet {
  background-color: #000;
  opacity: 0.7;
}


.container-devs .swiper-pagination-bullet-active {
  background-color: #13eda4;
  opacity: 1;
}

.container-devs .bg,
.container-devs .bg2 {
  position: absolute;
  z-index: 1;
  opacity: 0.1;
  pointer-events: none;
}

.container-devs .bg {
  bottom: 10%;
  right: 5%;
}

.container-devs .bg2 {
  top: 5%;
  left: 0;
  width: 15%;
}

.container-devs img {
  border-radius: 10px;
}

.redes {
  height: 20px;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  padding-bottom: 10px;
}

.git,
.linkedin {

margin-left:10px ;
  width: 30px;
  height: 30px;
  margin-top: 10px;
}

.contato {

  height: 120vh;
  padding-bottom: 50px;
}

.container-ctt {
  padding-top: 30px;

  width: 100%;

  display: flex;
  justify-content: center;
  place-items: center;

}

.img-ctt {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}

.form-ctt {
  padding-left: 30px;
  display: grid;
  justify-content: center;
  align-items: center;

}

.form {
  margin-top: 3px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  height: 500px;
  width: 320px;
  background-color: #13143D;
  padding: 20px;
  margin-left: -30px;
  border-radius: 10px;
  box-shadow: 0 30px 30px -30px rgba(27, 26, 26, 0.315);
}

.form-title {
  font-family: "Montserrat";
  color: #ffffff;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form label {
  color: #ffffff;
  font-size: 15px;
  font-family: "Montserrat";
}

.form input {
  outline: 0;
  border: 1px solid rgb(219, 213, 213);
  border-radius: 3px;
  width: 100%;
  padding: 5px;
  font-size: 15px;
  font-family: "Montserrat";
}

.form textarea {
  border-radius: 8px;
  height: 100px;
  width: 100%;
  outline: 0;
  padding: 8px 14px;
  border: 1px solid rgb(219, 213, 213);
  font-size: 15px;
}

.btnEnviar {
  margin-top: 15px;
  align-self: center;
  padding: 8px;
  outline: 0;
  border: 0;
  width: 150px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 500;
  background-color: #fff;
  color: #000;
  cursor: pointer;
  font-family: "Montserrat";
}

.btnEnviar:hover{

  background-color: #c1bfbf;
  color:#0b0a0a;
}

.container-parceiros {
  min-height: 92vh;
  color: #000;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

.div-parceiros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid 2px #1cfcb1;
  border-radius: 10px;
  align-items: center;
  text-align: center;
  width: 80%;
  min-height: 70%;
  background-color: #13143D;
  color: #ffffff;
  
}

.div-parceiros h1 {
  font-size: 2.5rem;
  margin-top: 2rem;
}

.div-parceiros p {
  padding-top: 10px;
}

.grupos {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  min-height: 250px;
  max-height: 100%;
}

.grupos img {
  width: 200px;
  height: 200px;
  margin: 1em;
  border-radius: 20px;
}

.footer {
  background-color: #13143D;
  padding: 50px 0;
}

.footer .container {
  max-width: 100%;
  margin: auto;
}

.footer .row {
  display: flex;
  flex-wrap: wrap;
}

.footer-col,
.footer-col2 {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #fff;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #bbbbbb;
  text-decoration: none;
  font-weight: 300;
  color: #fbfafa;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #1b1818;
  padding-left: 8px;
  border-bottom: #13143D;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: #fff;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  font-size: 20px;
  color: #13143D;
  transition: all 0.5s ease;

}


.footer-col .social-links a:hover {
  color: #fff;
  background-color: #13143D;
}

.copyright {
  text-align: center;
  padding: 0px 0;
  color: #ffffff;
  font-size: 14px;
}

/* modo claro */

body.light-mode {
  color: #fff;
  background-color: #13143D;
}

.navbar.light-mode {
  background-color: #13143D;
}

.label.light-mode {
  background-color: #ffffff;
}

.label .ball.light-mode {
  background-color: #13143D;
}

li a.light-mode {

  color: rgb(243, 242, 242);
}

.timeline-block:last-child.light-mode::after {

  background-color: #13143D;
}

.timeline-block.light-mode::after {
border-top: 2px dashed #1cfcb1;

}

.timeline-block:hover .iconic.light-mode {
  background-color: #fff;
}

.timeline-block .iconic.light-mode {
  background-color: #1cfcb1;
}


.timeline-block .heading.light-mode::after {
  background-color: #13eda4;

}

.timeline-block .text.light-mode::before {
  background-color: #1cfcb1;

}

.footer-col.light-mode h4::before .desc-empresa.light-mode {
  color: #ffffff;
}

h4.light-mode {
  color: #ffffff;
}

.timeline-container p.light-mode {
  color: #e2dada;
}

.container-projetos.light-mode {
  background-color: #fff;

}

.projeto.light-mode {
  color: #000;
}

.card.light-mode {
  background-color: #13143D;
  color: #ffffff;
}

hr.light-mode {
  color: #13eda4;
}

.devs.light-mode {
  background-color: #13143D;
}

.conhecaEquipe.light-mode {
  color: #ffffff;

}

.container-devs .swiper-slide.light-mode {
  background-color: #fff;
  color: #ffffff;
}

.container-devs .swiper-slide p.light-mode {
  color: #000000;
}

.container-devs .swiper-pagination-bullet.light-mode {
  background-color: #fff;
  opacity: 0.7;

}

.container-devs .swiper-pagination-bullet-active.light-mode {
  background-color: #1cfcb1;
  opacity: 1;
}

.div-parceiros.light-mode {
  background-color: #fff;
  color: #000;
}

.form.light-mode {
  background-color: white;
}

.form-title.light-mode {
  color: #13143D;
}

.btnEnviar.light-mode {
  background-color: #13143D;
  color: #fff;
}

.form label.light-mode {
  color: #000;
}

footer.light-mode {
  background-color: #fff;
}


.footer-col h4.light-mode {
  color: #000000;
}

.footer-col.light-mode h4::before {
  background-color: #13143D;
}

.footer-col ul li a.light-mode {
  color: #000000;
}


.footer-col .social-links a.light-mode {
  background-color: #13143D;
  color: #fff;
}

.footer-col .social-links a:hover.light-mode {
  background-color: #fff;
  color: #13143D;

}

.copyright.light-mode {
  color: #000000;
}

.desc-empresa.light-mode {
  color: #fff;
}

.btnEnviar.light-mode:hover {
  background-color: #1d1e58;
  color: #fff;
}


/**/

@media(max-width: 767px) {
  .footer-col {
    width: 100%;
    margin-bottom: 30px;
  }
}

@media(max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .timeline-container ::after {
    height: 100%;
  }

  .timeline-block {

    width: 25%;
    max-width: none;
    margin-bottom: 0;
    float: left;
  }

  .timeline-block::after {
    width: 100%;
    height: 1px;
    content: "";
    margin-top: -7px;
    z-index: -2;
    transform: translateY(-50%);
    border-top: 2px dashed #13143D;
    position: absolute;
    top: 50%;
    left: 50%;
  }

    

  .timeline-block:last-child::after {
    width: calc(50% - 5px);
    left: 5px;
    background-color: #fff;
  }

  .timeline-block:nth-child(even) .iconic {
    transform: translateY(200%);
    top: 7px;
  }

  .timeline-block:nth-child(even) .iconic::after {
    transform: translateY(-100%);
    margin-bottom: auto;
    margin-top: -7px;
    bottom: auto;
    top: 0;
  }

  .timeline-block:nth-child(even) .text {
    transform: translateY(-50%);
    padding-top: 0;
    padding-bottom: 60px;
  }

  .timeline-block:nth-child(even) .text::before {
    transform: translateY(-50%) translateX(-50%);
    top: auto;
    bottom: 30px;
  }

  .div-parceiros::after {
    height: 1500px;
  }
}

/*Celular*/
@media (max-width: 575.98px) {
  nav ul li {
    margin: 5px;
  }

  .timeline-container {
    flex-direction: column;
  }

  #main img{
    height: 30vh;
  }

  .devs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100%;
    margin-top: 5em;
    margin-bottom: 5em;
  }

  .container-devs {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    height: 100%;
  }


  .contato {
    min-height: 120vh;
    padding-bottom: 50px;
    margin: 2.5em;
  }
  
  .container-ctt {
    padding-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .img-ctt img{
    width: 100%;
    height: 100%;
  }

}

@media (min-width: 576px) and (max-width: 767.98px) {
  /* Estilos para telas entre 576px e 767px */
}

@media (min-width: 768px) and (max-width: 991.98px) {
  /* Estilos para telas entre 768px e 991px */
}

.slider {

  width: 100%;
  height: 100%;
  position: relative;
  background: #242424;
  overflow: hidden;

}

.slider img {

  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  animation: fade 1s;

}

.slider .seta {

  z-index: 10;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: auto;
  right: auto;
  width: auto;
  height: 1.5rem;
  font-size: 2.5em;
  color: cornsilk;
  opacity: 0.5;
  transition: opacity 1s;

}

.slider .seta:hover {

  cursor: pointer;
  opacity: 1;

}

.slider .arrow-left {

  left: 2%;

}

.slider .arrow-right {

  right: 2%;

}

.slider .paginacao {

  position: absolute;
  margin: auto;
  top: auto;
  bottom: 2%;
  left: 0;
  right: 0;
  width: 7rem;
  height: auto;
  z-index: 5;

}

.slider .paginacao .botao {

 width: auto;
 height: auto;
 display: inline-flex;
 align-content: center;
 justify-content: center;
 color: #fff;

}

@keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}